<style>
  html, body {
  background-color: #f0f0f7;
  height: 100vh !important;
}
</style>
<div class="row">
<DIV class="banner-wrapper">
  <img src="../../assets/img/about-nippyworld@1x.png" class="banner_image" alt="">
</DIV>
</div>
<div class="clearfix"></div>
<div class="row bg-img">
<div class="row" style="width: 100%;">
  <div class="col-lg-12 text-center m-lr-10 pad9_in_a800">
    <img class="hide_above800 mx-auto" src="../../assets/img/Transparent.png" alt="" style="height: 100px;">
    <DIV class="text_tracechain_n hide_below800">TraceChain</DIV>
    <DIV class=text_trustacross_n>'Trust Across Supply Chain'</DIV>
    <DIV class=text_blockchainenabled_n>Blockchain Enabled Asset Tracking & Provenance Platform</DIV>
</div>
</div>
<div class="row w100p homepage_layout">
  <div class="col-lg-4 hide_below800" style="position: relative;">
    <img src="../../assets/img/Transparent.png" alt="" style="height: 100px;position: absolute;left: 35%;top: 21%;">
  </div>
  <div class="resetPass_box col-lg-5 col-sm-12 col-xs-12">
    <form [formGroup]="resetPwd" autocomplete="off" #resetPwdForm="ngForm" (ngSubmit)="resetPassword(resetPwdForm);" novalidate autocomplete="disabled">   
      <div class="row" style="background-color: rgb(243, 243, 248, .7);">
        
        <div class="col-lg-12 m-lr-10">
          <div class="login_lbl">Set Password</div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
          <mat-form-field appearance="outline" class="w100p">
            <input tabindex="1" matInput
            placeholder="OTP" autocomplete="off"
            formControlName="otp" id="id_otp" (keypress)="onKeyPress($event)"
            required>
            <mat-error *ngIf="hasError('otp', 'required')">OTP is required!</mat-error>
          </mat-form-field>            
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
          <div class="resend-otp" *ngIf="isShown" id="id_resendOTP" (click)="goToResendOtp()">Resend OTP?</div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
          <mat-form-field appearance="outline" class="w100p">
          <input matInput
            tabindex="2"
            placeholder="New Password"
            formControlName="password"
            required autocomplete="off" id="id_newPassword" (keypress)="onKeyPress($event)"
            type="password">
            <mat-error *ngIf="hasError('password', 'required')">Password is required!</mat-error>
            <mat-error *ngIf="hasError('password', 'pattern')">
              <ul> 
                <li>Passwords must be at least eight characters in length.</li>
                <li>Passwords must contain at least one lowercase letter, one uppercase letter, and one number.</li>
                <li>The name appearing before the @ in your login email cannot be used.</li>
              </ul>  
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
          <mat-form-field appearance="outline" class="w100p">
          <input matInput
          tabindex="3"
          placeholder="Confirm Password"
          formControlName="confirmPassword" id="id_confirmPassword"
          required autocomplete="off" (keypress)="onKeyPress($event)"
          type="password">
         <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required!</mat-error>
         <mat-error *ngIf="hasError('confirmPassword', 'mustMatch')">Password and Confirm password should be equal!</mat-error>
        </mat-form-field>
       </div>
  
        <div class="col-lg-12">
          <div class="btn cancelBtn" (click)="goHomePage()" id="id_btn_cancelResetPass" style="color: #fff;">Cancel</div>          
          <button type="submit" class="subBtn pull-right" id="id_setPassword">Set password</button> 
        </div>  
      </div>
    </form>
  </div>
</div>
</div> 