<div class="container">
<div class="wrapper flex-center">
	<div class="card-wrapper">
		<mat-card class="forgetPass_box example-card">
				<div _ngcontent-pue-c22="" id="affDiv"><span _ngcontent-pue-c22="" id="addSpan"> Change Password </span></div>
				<mat-dialog-content [formGroup]="changePwd" #changePwdForm="ngForm">
				<div class="input-row">
					<div>
						<mat-form-field>
							<input matInput autocomplete="off"
								placeholder="Current Password"
								formControlName="currentpwd"
                required
                type="password">
							<mat-error *ngIf="hasError('currentpwd', 'required')">Current Password is required!</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="input-row">
					<div>
						<mat-form-field>
							<input matInput autocomplete="off"
								placeholder="New Password"
								formControlName="newpassword"
								required
								type="password">
							<mat-error *ngIf="hasError('newpassword', 'required')">Password is required!</mat-error>
							<mat-error *ngIf="hasError('newpassword', 'pattern')">
								<ul style="margin: 0px;">
									<li style="padding: 5px 0;">Password must be minimum 8 characters.</li>
									<li style="padding: 5px 0;">Password must include one uppercase, one lowercase letter, one special character, and one numeric digit!</li>
								</ul>								
							</mat-error>
							<mat-error *ngIf="!isValidemail">
								<span style="padding: 5px 0;">The name appearing before the @ in your login email cannot be used.</span>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="input-row">
					<div>
						<mat-form-field>
							<input matInput autocomplete="off"
								placeholder="Confirm Password"
								formControlName="confirmPassword"
								required
								type="password">
							<mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required!</mat-error>
							<mat-error *ngIf="hasError('confirmPassword', 'mustMatch')">New password and Confirm password should be equal!</mat-error>
						</mat-form-field>
					</div>
				</div>				
			</mat-dialog-content>
			<mat-dialog-actions class="text-center">
				<div class="action-btns">
					<button mat-raised-button class="subBtn" (click)="changePassword(changePwdForm)">Set Password</button>
				</div>
			</mat-dialog-actions>
		</mat-card>
	</div>
</div>
</div>