
.banner-wrapper {
	position:relative;
	width:100%;
  }
  .banner_image {  
	top:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-size:100% auto;
  }
  .text_tracechain {
	position:absolute;
	top:0;
	left:35%;
	padding-top:4.5%;  
	text-align:center;
	font-weight:bold;
	font-size:3vw;
	color:white;
	font-family:arial;
  }
  .text_trustacross{
	position:absolute;
	top:0;
	left:35%;
	padding-top:7.5%;  
	text-align:center;
	font-weight:bold;
	font-size:2.5vw;
	color:white;
	font-family:arial;
  }
  .text_blockchainenabled{
	position:absolute;
	top:0;
	left:35%;
	/* width:100%; */
	padding-top:10%;  
	text-align:center;
	font-weight:bold;
	font-size:2vw;
	color:white;
	font-family:arial;
  }
  
  .text_tracechain_n {
	text-align:center;
	font-weight:bold;
	font-size:28px;
	color:#001f60;
	font-family:arial;
  }
  .text_trustacross_n{
	text-align:center;
	font-weight:bold;
	font-size:22px;
	color: #F3871F;
	font-family:arial;
  }
  .text_blockchainenabled_n{
	text-align:center;
	font-weight:500;
	font-size:18px;
	color: #001f60;
	font-family:Roboto, "Helvetica Neue", sans-serif;
  }
  
  @media (min-width: 1200px) {
	.text_tracechain{
	  font-size:30px;
	}
	.text_trustacross{
	  font-size:24px;
	}
	.text_blockchainenabled{
	  font-size:20px;
	}
  }  
  .m-lr-10{
	margin: 10px 0px;
  }  
  .login_lbl{
	color: #001f60 !important;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
  }  
  .span1-oh3OiQ {
	  color: #0069d9 !important;
	  font-weight: 500;
	  letter-spacing: 0;
	  cursor: pointer;
	font-size: 14px;
  }  
  .dont-have-account {
	  color: #707070;
	  font-family: Roboto,Helvetica,Arial,serif;
	  font-style: normal;
	  font-weight: 500;
	  letter-spacing: 0;
	font-size: 14px;
  }  
  .remember-me {
	  background-color: transparent;
	  color: var(--dove-gray);
	  font-size: 14px;
	font-weight: 500;
  }  
  .forgot-password{
	  background-color: transparent;
	  font-family: Roboto,Helvetica,Arial,serif;
	  color: red;
	  font-size: 14px;
	  cursor: pointer;
	font-weight: 500;
  }  
  .row{
	margin: 0px;
  }  
  .bg-img{
	background-image: url(../../assets/img/blockchain_bg.png);
	padding: 15px;
  }  
  .login-box {
	padding: 10px;
  }
  .mat-error {
    font-size: 76%;
	font-family: Roboto,Helvetica,Arial,serif;
}
.homepage_layout .ngx-mat-tel-input-container{
	display:  none !important;
}
::ng-deep .homepage_layout .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 15px 0 10px 0 !important;
    border: unset !important;
}
::ng-deep .homepage_layout .mat-form-field-outline{
	background: #fff;
}
::ng-deep .homepage_layout .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0 !important;
    padding-bottom: 17px !important;
}
::ng-deep .homepage_layout .country-selector{
top:11px !important;
}
::ng-deep .homepage_layout .countryphone .mat-input-element{
	bottom: 0px !important;
	padding: 0 6px 0 75px !important; 
}
.m-lr-5{
	margin: 5px 0px;	  
}
@media screen and (max-width: 900px) {
	::ng-deep .corpRegCls .mat-form-field-subscript-wrapper,
	::ng-deep .corpRegCls .mat-form-field-infix,
	::ng-deep .corpRegCls .mat-form-field-underline,
	::ng-deep .corpRegCls .mat-form-field-label-wrapper{
		position: relative !important;
	}
}