<div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
            <div style="color:black;">The page you are looking for was not found!</div>
            <div style="color:black;" class="display-1 d-block">#404#</div>
    <button style="background-color: #6a6a6a; 
    color: white;
    position:relative;
    margin-top:10px; margin-left:180px; margin-right: 200px;" class="btn" (click)="urlToHit()">Go Back</button>
     </div>
            </div>
        </div>
    </div>