.container {
    padding: 40px 26px;
}
.outer-div {
    display: flex;
    flex-direction: row;
} 
.spacer {
    flex: 1 1 auto;
}
.inner-div {
    display: flex;
    flex-direction: column;
}
.header-btns {
    padding: 9px 2px;
}
.file-upload {
    width: 100%;
    height: 100%;
}
.clr-blue {
    color: #3666f5;
}
.clr-green {
    color: #148606;
}
.clr-red {
    color: #d02020;
}
.icon {
    cursor: pointer;
    font-size: 17px;
}
.icon-back {
    font-size: 25px;
}
.add-btn {
    background-color: #e2be40;
    border-radius: 8px;
    margin-bottom: 12px;
    margin: 2px 4px;
}
.list-container {
    height: inherit;
    overflow-y: scroll;
}
.list-container::-webkit-scrollbar {
    height: 9px;
} 
.list-container::-webkit-scrollbar-track::horizontal {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.list-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.mat-table {
    width: 100%;
    min-width: 1000px;
}
.mat-header-cell {
    display: block;
    padding: 1px 10px;
    color: #060303!important;
}
mat-column-star {
    width: 20px;
    padding-right: 8px;
}
mat-table-sticky:first-child{
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}
mat-table-sticky:last-child{
    border-right: 1px solid #e0e0e0;
    padding: none;
    min-height: 50px;
}
mat-column-position, mat-column-position {
    padding-left: 8px;
}
.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:last-child {
    border-right: 1px solid #e0e0e0;
}
.mat-header-row {
    min-height: 70px;
}
.mat-row {
    min-height: 20px !important;
}
.mat-header-cell {
    border-right: 1px solid #e0e0e0;  
}
.search {
    color: #787b80;
    font-size: 14px !important;
    min-height: 12px !important;
}
.search-input {
    display: inline;
}
.matInput {
    margin-left: 20px;
}
.fa-icon {
    margin-right: 8px;
}
.mat-row:nth-child(even) {
    background-color: #dcdcdc;
}
.mat-header-row, .mat-row, .mat-footer-row {
    border-bottom-width: 0; 
}
.mat-paginator {
    font-size: 11px;
}
.mat-checkbox-layout {
    margin-bottom: 0;
}
.mat-paginator-container {
    min-height: 48px;
    display: flex;
}
.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.data {
    overflow: hidden;
    text-overflow: ellipsis;
}
.data:hover{
    overflow: visible; 
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left:auto;
    top:auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    padding: 0 .5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
    white-space: normal;
    word-wrap: break-word;
    display:block;
    color:black;
}
.mat-column-action {
    flex: 0 0 4% !important;
    min-width: 60px !important;
}
.hide { display: none; }
.mat-column-created_on {
    min-width: 183px;
}