<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<span class="spacer"></span>
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
				</div>
			</div>
		</div>
		<div class="row gridGlobalSearch">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<mat-form-field class="globalSerach_lbl search-input">
					<mat-label>Search</mat-label>
					<input matInput class="form-field filters" [(ngModel)]="filter.searchKey" (ngModelChange)="onSearch($event)" autocomplete="off" >
					<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
					<button mat-button *ngIf="filter.searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.searchKey='')">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</div>	
		<div class="list-container">
			<mat-table [dataSource]="dataSource" class="mat-table-item mat-elevation-z8"  matSort (matSortChange)="sortData($event)">
				<ng-container matColumnDef="action" sticky>
					<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Action:</span>				
						<img class="sidebar-img" matTooltip="View Transaction" (click)="viewTransaction(element)"
							src="../assets/icons/view-cred.svg" />
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="entity">
					<mat-header-cell *matHeaderCellDef>
						<div>Entity Name</div>
					</mat-header-cell>
					
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Entity Name:</span>					   
						{{element.transactionEntityName || '-'}}
					</mat-cell>
					
				</ng-container>
				<ng-container matColumnDef="branchLocation">
					<mat-header-cell *matHeaderCellDef>
						<div>Branch/Location</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.branchLocation" (input)="selectbranchLocation($event)" autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.branchLocation" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.branchLocation='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Branch/Location:</span>					   
						{{element.department?.branch_location || element.department?.name || element.branchLocation || '-'}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="moduleName">
					<mat-header-cell *matHeaderCellDef>
						<div mat-sort-header>Module Name</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.moduleName" (input)="selectmoduleName($event)" autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.moduleName" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.moduleName='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Module Name:</span>					   
						{{element.module.name || '-'}}
					</mat-cell>					
				</ng-container>
				
				<ng-container matColumnDef="transactionTypeName">
					<mat-header-cell *matHeaderCellDef>
						<div mat-sort-header>Transaction Type</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.transactionTypeName" (input)="selecttransTypeName($event)" autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.transactionTypeName" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.transactionTypeName='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Transaction Type:</span>					   
						{{element.transtype.transactionTypeName || '-'}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="orderId">
					<mat-header-cell *matHeaderCellDef>
						<div mat-sort-header>Order ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.orderId" (input)="selectorderId($event)" autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.orderId" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.orderId='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Order ID:</span>					   
						{{element.orderId || '-'}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>
						<div mat-sort-header>Status</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.status" (input)="selectstatus($event)" autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.status" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.status='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Status:</span>					   
						{{element.status | uppercase}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="created_on">
					<mat-header-cell *matHeaderCellDef>
						<div mat-sort-header>Transcation Date and Time</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Transcation Date and Time:</span>					   
						{{element.created_on || '-'}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="noData">
					<mat-footer-cell *matFooterCellDef>
						No Records Found!
					</mat-footer-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}" style="border-top: 1px solid whitesmoke;"></mat-footer-row>
		
			</mat-table>
		</div>
		<div>
			<mat-paginator [length]="totalTransactions" [pageSize]="partnerPerPage" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
				(page)="onChangedPartner($event)"></mat-paginator>
		</div>
	</div>
</div>