<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
          		<a>
					<fa-icon [icon]="faHandPointLeft" matPrefix class="fa-icon icon-back" (click)="goBack()"></fa-icon>
          		</a>
				</div>
			</div>
		</div>
		<div class="row gridGlobalSearch">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<mat-form-field class="globalSerach_lbl search-input">
					<mat-label>Search</mat-label>
					<input matInput class="form-field filters" [(ngModel)]="filter.searchKey" (ngModelChange)="onSearch($event)" autocomplete="off" >
					<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
					<button mat-button *ngIf="filter.searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.searchKey='')">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</div>	
		<div class="list-container">
			<mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="date">
					<mat-header-cell *matHeaderCellDef> 
						<div>Login Date</div>
						<div>
							<mat-form-field>
								<input matInput autocomplete="off"  [(ngModel)]="filter.date" (input)="searchField($event,filter.date)" class="form-field">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.date" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.date='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
					   <span class="mobile-label">Login Date:</span>						
                       <span class="data"> {{ element.createdAt | date:'dd/MM/yyyy' }} </span> 
                    </mat-cell>
				</ng-container>
				<ng-container matColumnDef="time">
					<mat-header-cell *matHeaderCellDef> 
						<div>Login Time</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Login Time:</span>
                       <span class="data"> {{element.createdAt | date: 'hh:mm:ss'}} </span> 
                    </mat-cell>
				</ng-container>
				<ng-container matColumnDef="ipAddress">
					<mat-header-cell *matHeaderCellDef> 
						<div>IP Address</div>
						<div>
							<mat-form-field>
								<input matInput autocomplete="off"  [(ngModel)]="filter.ipAddress" (input)="searchField($event,filter.ipAddress)" class="form-field">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.ipAddress" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.ipAddress='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<span class="mobile-label">IP Address:</span>												
                       <span class="data"> {{ element.ipAddress }} </span> 
                    </mat-cell>
				</ng-container>
				<ng-container matColumnDef="noData">
					<mat-footer-cell *matFooterCellDef>
						No Records Found!
					</mat-footer-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}" style="border-top: 1px solid whitesmoke;"></mat-footer-row>
		    </mat-table>
		</div>
		<div>
			<mat-paginator [length]="totalLogins" [pageSize]="loginsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedLogin($event)"><!--showFirstLastButtons--></mat-paginator>
		</div>
	</div>
</div>