<div class="container">
			<div class="wrapper">
				<div class="outer-div">
					<div class="inner-div header-btns">
						<div class="mat-header-btns">
						</div>
					</div>
					<span class="spacer"></span>
					<div class="inner-div header-btns hide_clearSearchBtn" style="text-align: right;">
						<div class="mat-header-btns">
							<button mat-raised-button class="subBtn" (click)="clearFilters()">Clear search</button>
						</div>
					</div>
				</div>
				<div class="row gridGlobalSearch">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<mat-form-field class="globalSerach_lbl search-input">
							<mat-label>Search</mat-label>
							<input matInput class="form-field filters" [(ngModel)]="filter.searchKey" (ngModelChange)="onSearch($event)" autocomplete="off" >
							<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
							<button mat-button *ngIf="filter.searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.searchKey='')">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
				</div>	
				<div class="list-container">
					<mat-table [dataSource]="dataSource" class="mat-table-item mat-elevation-z8" matSort (matSortChange)="sortData($event)">
						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef>
								<div> Action </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Action:</span>
								<img class="sidebar-img" matTooltip="View" (click)="getAsset(element)" src="../assets/icons/view (1).svg"/>
								<img class="sidebar-img" matTooltip="Create" *ngIf="element.asset.provenance==true" (click)="printHtml(element)" src="../assets/icons/HTML_Create2.svg"/>
								<img class="sidebar-img" matTooltip="View NFT" *ngIf="element?.transactionTypeNFT?.nft==true && element?.asset?.nft_status!='Not Created'" (click)="viewNFT(element)" src="../assets/icons/view (1).svg"/>
								<img *ngIf="element.asset.provenance==true" class="sidebar-img" matTooltip="View Layout" (click)="openHTML(element)" src="../assets/icons/HTML_View1.svg"/>
							</mat-cell>
						</ng-container>
		
						<ng-container matColumnDef="entityId">
							<mat-header-cell *matHeaderCellDef>
								<div> Entity Name </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Entity Name:</span>
								{{companyName || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="transcationEntity">
							<mat-header-cell *matHeaderCellDef>
								<div> Transcation Entity </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Transcation Entity:</span>
								{{element.transactionEntity || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetId">
							<mat-header-cell *matHeaderCellDef> 
								<div mat-sort-header>Asset Id </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.assetId" (input)="searchField($event,filter.assetId)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.assetId" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.assetId='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Id:</span>
								{{element.assetId || ''}}
							</mat-cell>
						  </ng-container>

						<ng-container matColumnDef="assetName">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Asset Name </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.assetName" (input)="searchField($event,filter.assetName)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.assetName" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.assetName='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Name:</span>
								{{element.asset.assetName || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetCategory">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Asset Category </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.assetCategory" (input)="searchField($event,filter.assetCategory)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.assetCategory" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.assetCategory='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Category:</span>								
								{{element.assetcategory?.assetCategory || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="transcationid"> 
							<mat-header-cell *matHeaderCellDef>
							 <div>Asset Transaction Id</div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.assetTransactionId" (input)="searchField($event,filter.assetTransactionId)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.assetTransactionId" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.assetTransactionId='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Transaction Id:</span>
								{{element.transactionid || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetLocation">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Asset Location </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.assetLocation" (input)="searchField($event,filter.assetLocation)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.assetLocation" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.assetLocation='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Location:</span>
								{{element.asset.location || ''}}  
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="producedQuantity">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Produced </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element" > 
								<span class="mobile-label">Produced:</span>
								<span>
									{{ element.producedQuantity}}
								</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="receivedQuantity">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Received </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> 
								<span class="mobile-label">Received:</span>
								<span>
									{{ element.receivedQuantity}}
								</span>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="consumedQuantity">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Consumed </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element" > 
								<span class="mobile-label">Consumed:</span>
								<span>
								{{element.consumedQuantity}}
							</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="rejectedQuantity">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Rejected </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> 
								<span class="mobile-label">Rejected:</span>
									{{element.rejectedQuantity}}
							</mat-cell>
						</ng-container>
		
						<ng-container matColumnDef="balancedQuantity">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Balance</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> 
								<span class="mobile-label">Balance:</span>
								{{element.balancedQuantity}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetUom">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> UOM </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">UOM:</span> 
								{{element.assetUom || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetMfgDate">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Manufacture Date</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Manufacture Date:</span>
								{{element.assetMfgDate || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="assetExpiryDate">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Expiry Date </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Expiry Date:</span>
								{{element.assetExpiryDate || ''}}  
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="eprAssetId">
							<mat-header-cell *matHeaderCellDef> 
								<div mat-sort-header>Asset Id </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.eprAssetId" (input)="searchField($event,filter.eprAssetId)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.eprAssetId" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.eprAssetId='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Id:</span>
								{{element.eprAssetId || ''}}
							</mat-cell>
						  </ng-container>

						<ng-container matColumnDef="eprAssetName">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Asset Name </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.eprAssetName" (input)="searchField($event,filter.eprAssetName)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.eprAssetName" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.eprAssetName='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Name:</span>
								{{element.asset.eprAssetName || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="eprAssetCategory">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Asset Category </div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.eprAssetCategory" (input)="searchField($event,filter.eprAssetCategory)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.eprAssetCategory" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.eprAssetCategory='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								{{element.assetcategory?.assetCategory || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="eprTransactionid"> 
							<mat-header-cell *matHeaderCellDef>
							 <div>Asset Transaction Id</div>
								<div>
									<mat-form-field>
										<input matInput autocomplete="off"  [(ngModel)]="filter.eprTransactionid" (input)="searchField($event,filter.eprTransactionid)" class="form-field">
										<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
										<button mat-button *ngIf="filter.eprTransactionid" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.eprTransactionid='')">
											<mat-icon>close</mat-icon>
										</button>
									</mat-form-field>
								</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Asset Transaction Id:</span>
								{{element.eprTransactionid || ''}}  
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="eprAssetUom">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> UOM </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">UOM:</span> 
								{{element.eprAssetUom || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="eprAssetMfgDate">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Manufacture Date</div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Manufacture Date:</span>
								{{element.eprAssetMfgDate  | date:'dd/MM/yyyy' || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="eprAssetExpiryDate">
							<mat-header-cell *matHeaderCellDef>
								<div mat-sort-header> Expiry Date </div>
							</mat-header-cell>
							<mat-cell *matCellDef="let element">
								<span class="mobile-label">Expiry Date:</span>
								{{element.eprAssetExpiryDate || ''}}  
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="noData">
							<mat-footer-cell *matFooterCellDef>
								No Records Found!
							</mat-footer-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
						<mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}" style="border-top: 1px solid whitesmoke;"></mat-footer-row>
					</mat-table>					
				</div>
				<div>
					<mat-paginator [length]="totalAsset" [pageSize]="assetPerPage" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onChangedAsset($event)">showFirstLastButtons</mat-paginator>		
				</div>
			</div>
</div>