<div class="container">
	<div class="wrapper">
		<div class="outer-div">
			<div class="inner-div header-btns">
				<div class="mat-header-btns">
					<a>
						<fa-icon [icon]="faHandPointLeft" matPrefix class="fa-icon icon-back"  (click)="goBack()">
						</fa-icon>
					</a>
					<span style="font-size: larger;font-weight: 700;color: #001f60;">Provide Access to {{selectedUser.firstName}} {{selectedUser.lastName}} ({{selectedUser?.reference?.roleName}})</span>
				</div>
			</div>
		</div>
		<div class="row gridGlobalSearch">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<mat-form-field class="globalSerach_lbl search-input">
					<mat-label>Search</mat-label>
					<input matInput class="form-field filters" [(ngModel)]="filter.searchKey" (ngModelChange)="onSearch($event)" autocomplete="off" >
					<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
					<button mat-button *ngIf="filter.searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.searchKey='')">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</div>
		<div class="list-container">
			<mat-table [dataSource]="dataSource" class="mat-table-item mat-elevation-z8">
				<ng-container matColumnDef="moduleName">
					<mat-header-cell *matHeaderCellDef>
						<div >Module Name</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.moduleName" (input)="selectmoduleName($event)"  autocomplete="off" >
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
								<button mat-button *ngIf="filter.moduleName" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter($event,filter.moduleName='')">
									<mat-icon>close</mat-icon>
								</button>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Module Name:</span>
						{{element.module.name}}
					</mat-cell>
					</ng-container>
				<ng-container matColumnDef="moduleCode">
					<mat-header-cell *matHeaderCellDef>
						<div >Module ID</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.moduleCode" (input)="selectmoduleCode($event)" autocomplete="off">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Module ID:</span>
						{{element.module.code}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionTypeName">
					<mat-header-cell *matHeaderCellDef>
						<div >Transaction Type Name</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.transactionTypeName" (input)="selecttransTypeName($event)" autocomplete="off">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Transaction Type Name:</span>
						{{element.transactionTypeName}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="additionalDescription">
					<mat-header-cell *matHeaderCellDef>
						<div >Transaction Type Description</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.additionalDescription" (input)="selectadditionalDescription($event)" autocomplete="off">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Transaction Type Description:</span>
						{{element.additionalDescription}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="transactionTypeCode">
					<mat-header-cell *matHeaderCellDef>
						<div >Transaction Type Id</div>
						<div>
							<mat-form-field class="search-input">
								<input matInput class="form-field filters" [(ngModel)]="filter.transactionTypeCode" (input)="selecttransTypeCode($event)" autocomplete="off">
								<fa-icon [icon]="faSearch" matPrefix class="fa-icon"></fa-icon>
							</mat-form-field>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Transaction Type Id:</span>
						{{element.transactionTypeCode}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="isAdd">
					<mat-header-cell *matHeaderCellDef>
						<div>Add</div>
						<div>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Add:</span>						
						<mat-checkbox class="example-margin" value="isAdd" [(ngModel)]="element.isAdd" (change) = "changeRadioButton(element,$event)"></mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="isUpdate">
					<mat-header-cell *matHeaderCellDef>
						<div>Update</div>
						<div>
						</div>
					</mat-header-cell>
				 <mat-cell *matCellDef="let element">
					<span class="mobile-label">Update:</span>					
					<mat-checkbox class="example-margin" value="isUpdate" [(ngModel)]="element.isUpdate" (change) = "changeRadioButton(element,$event)"></mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="isRead">
					<mat-header-cell *matHeaderCellDef>
						<div>Read</div>
						<div>
						</div>
					</mat-header-cell>
					 <mat-cell *matCellDef="let element">
						<span class="mobile-label">Read:</span>						
						<mat-checkbox class="example-margin" value="isRead" [(ngModel)]="element.isRead" (change) = "changeRadioButton(element,$event)"></mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="isDelete">
					<mat-header-cell *matHeaderCellDef>
						<div>Delete</div>
						<div>
						</div>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Delete:</span>						
						<mat-checkbox class="example-margin" value="isDelete" [(ngModel)]="element.isDelete" (change) = "changeRadioButton(element,$event)"></mat-checkbox>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Action">
					<mat-header-cell *matHeaderCellDef>
						<div>Action</div>
						
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">Action:</span>												
						<a  mattooltip="Ok" (click)="openConfirmDialog(element)" >
							<img class="sidebar-img" matTooltip="Ok" style="height: 21px;" src="../assets/icons/checkmark.svg"/>
						</a>
						<a  mattooltip="Clear" (click)="ClearRecord(element)">
							<img class="sidebar-img" matTooltip="Clear" style="height: 21px; margin-left: 5px;" src="../assets/icons/crossmark.png"/>
						</a>
					</mat-cell>
				
				</ng-container>
				<ng-container matColumnDef="noData">
					<mat-footer-cell *matFooterCellDef>
						No Records Found!
					</mat-footer-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				<mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}" style="border-top: 1px solid whitesmoke;"></mat-footer-row>
		
			</mat-table>
		</div>
		<div>
			<mat-paginator [length]="totalRecord" [pageSize]="recordPerPage" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
				(page)="onChangedPage($event)">
			</mat-paginator>
		</div>
	</div>
</div>