::ng-deep .mat-dialog-container {
    height: 123% !important;
    width: 90% !important;
    overflow-x: hidden !important;
    max-height: fit-content !important;
}

mat-dialog-content {
    height: 180px;
    overflow: unset;
    margin-left: -5%;
}
mat-dialog-actions {
    margin-top: -28%;
    display: contents !important;
}
.div-recaptcha {
    transform: scale(0.812); 
    transform-origin: left top;
}

@media (max-width: 450px){
    .mat-form-field {
        width: 55vw !important;
    }
    .div-recaptcha {
        transform: scale(0.79);
    }
}
@media (max-width: 430px){
    .div-recaptcha {
        transform: scale(0.78);
    }
}
@media (max-width: 420px){
    .div-recaptcha {
        transform: scale(0.765);
    }
}
@media (max-width: 410px){
    .div-recaptcha {
        transform: scale(0.745);
    }
}
@media (max-width: 400px){
    .div-recaptcha {
        transform: scale(0.73);
    }
}
@media (max-width: 400px){
    .div-recaptcha {
        transform: scale(0.71);
    }
    .action-btns {
        zoom: 90%;
    }
}
@media (max-width: 390px){
    .div-recaptcha {
        transform: scale(0.71);
    }
}
@media (max-width: 380px){
    .div-recaptcha {
        transform: scale(0.69);
    }
    .action-btns {
        zoom: 80%;
    }
}
@media (max-width: 370px){
    .div-recaptcha {
        transform: scale(0.675);
    }
}
@media (max-width: 360px){
    .div-recaptcha {
        transform: scale(0.65);
    }
}
@media (max-width: 350px){
    .div-recaptcha {
        transform: scale(0.64);
    }
}
@media (max-width: 340px){
    .div-recaptcha {
        transform: scale(0.6);
    }
}
@media (max-width: 330px){
    .div-recaptcha {
        transform: scale(0.595);
    }
}
@media (max-width: 320px){
    .div-recaptcha {
        transform: scale(0.58);
    }
}

.recaptcha {
    position: relative;
    top: 10px;
}

.dialog-header {
    font-size: 30px; 
    margin-top: 2%;
}

.action-btns {
    margin: 4px 0;
}

.input-row {
    display: flex;
    height: 45px;
    width: 100%;
}

.icon-wrap {
    width: 34px;
    height: 28px;
    margin-top: 6%;
}

mat-form-field-infix {
    border-top: 0 !important;
}

.page-heading {
    color: #444444;
    z-index: 5;
    position: absolute;
    display: block;
    width: 22%;
    margin-top: 8px;
    font-size: 12px;
}

#forg {
    font-size: 38px; 
    margin-right: 60%; 
    font-weight: 600;
}

#pass {
    font-size: 36px; 
    margin-right: 39%; 
    margin-top: -2%; 
    font-weight: 600;
}

.mat-form-field {
    width: 245px;
    height: 55px;
    font-size: 14px;
}
.forgot-password-eyO9GW {
    background-color: transparent;
    color: var(--dove-gray-2);
    font-size: 16px;
    height: 21px;
    left: 1px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
    width: 160px;
}
.please-ent-r-password-eyO9GW {
    background-color: transparent;
    color: var(--nobel-2);
    font-size: 9px;
    height: 24px;
    left: 0px;
    line-height: 9px;
    position: absolute;
    text-align: left;
    top: calc(28.06% - 7px);
    white-space: nowrap;
    width: calc(100.00% - 31px);
  }
.rectangle-1513-eyO9GW {
    background-color: var(--white);
    border-radius: 5px;
    bottom: calc(43.38% - 12px);
    height: 27px;
    left: 1px;
    position: absolute;
    width: calc(100.00% - 1px);
}
.rectangle-1515-eyO9GW {
    background-color: var(--nobel-2);
    border-radius: 5px;
    bottom: 0px;
    height: 33px;
    left: 1px;
    position: absolute;
    width: 98px;
}
.submit-eyO9GW {
    background-color: transparent;
    bottom: 6px;
    color: var(--white);
    font-size: 13px;
    height: 17px;
    line-height: 13px;
    position: absolute;
    right: calc(34.95% - 17px);
    text-align: left;
    white-space: nowrap;
    width: 50px;
}
.headingOtp {
    color: var(--dove-gray-2);
    font-size: 16px !important;
    white-space: nowrap !important;
    width: 160px !important;
    font-family: 'Roboto', Helvetica, Arial, serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
}
.subHeadingOtp {
    color: var(--dove-gray-2);
    font-size: 9px !important;
    word-spacing:initial;
    white-space: normal !important;
    width: calc(100.00% - 31px);
    font-family: 'Roboto', Helvetica, Arial, serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}