<div class="headingOtp"> Forgot Password?</div>
<mat-dialog-content [formGroup]="forgotpassword" #forgotPasswordForm="ngForm">
	<p class="subHeadingOtp" >Please enter your email id below to receive an email for resetting your password.</p>
	<div class="input-row">
		<div class="">
			<mat-form-field>
				<input matInput
					placeholder="Email ID"
					formControlName="emailId"
					required
					email id="id_forgotPass_emailId">
				<mat-error *ngIf="hasError('emailId', 'required')">Email ID is required!</mat-error>
				<mat-error *ngIf="hasError('emailId', 'email')">Please enter valid email ID!</mat-error>
			</mat-form-field>
			<div class="div-recaptcha">
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions class="text-center">
	<div class="action-btns">
		<button type="button" class="cancelBtn" (click)="goBack()" id="id_cancel_forgetPass">Cancel</button>
		<button class="subBtn" mat-raised-button (click)="forgotPassword(forgotPasswordForm)"  id="id_submit_forgetPass">Submit</button>
	</div>
</mat-dialog-actions>
